@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

/* css vars */
:root {
  --max-width: 700px;
  --tranition: all 0.3s ease-in-out;
  --border-radius: 4px;
  --font-family: 'Inter', sans-serif;
  --color-primary: #50c5b7;
  --color-light: #f6fffe;
  --color-dark: #0d211f;
  --color-grey-light: #a9c5c2;
  --color-grey-dark: #5c6967;
  --color-danger: #c55450;
}

/* styling on everything */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* base styles */
body {
  line-height: 1.5;
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--color-dark);
}

section {
  max-width: var(--max-width);
  margin: auto;
}

/* nav */
#top-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

#top-nav a {
  color: var(--color-grey-dark);
}

/* info section */
#info {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
}

#info h1 {
  color: var(--color-primary);
  font-size: 8rem;
}

#info h1 span {
  color: var(--color-dark);
  font-size: 16px;
  font-weight: 400;
}

#info h3 {
  font-size: 2rem;
  border-bottom: 4px var(--color-grey-dark) transparent;
  transition: all 0.2s ease-in-out;
}

#info p {
  color: var(--color-grey-dark);
}

.stats {
  margin: 1rem 0;
}

/* word & input */

.word {
  font-size: 4rem;
  text-align: center;
  margin: 1rem 0;
  height: 4rem;
}

.input {
  width: 100%;
  outline: transparent;
  border: transparent;
  border-bottom: 1px solid var(--color-grey-dark);
  padding-bottom: 0.5rem;
  margin: 1rem 0;
}

/* session info */
#session-info {
  margin: 1rem auto;
  text-align: center;
}

/* restart section */
.btn {
  background-color: var(--color-light);
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-dark);
  cursor: pointer;
  transition: var(--tranition);
}

.btn:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}

#restart-section {
  text-align: center;
  margin: 4rem auto;
}

/* utilities */
.correct {
  color: var(--color-primary);
}

.incorrect {
  color: var(--color-danger);
}

.current-player {
  border-bottom: 4px solid var(--color-grey-dark);
}
